<div id='main-content'>
  <div class='container'>
    <h1>Your Account</h1>   
    <div class='col-md-4'> 

      <h3>Contact Info:</h3>
      <ul>
        <li>First Name: <%= @current_user.first_name %></li>
        <li>Last Name: <%= @current_user.last_name %></li>
        <li>Email: <%= @current_user.email %></li>
        <li>Phone: <%= @current_user.phone_number %></li>
    </div>

      <div class='col-md-4'>
        <h3>Your Albums</h3>
        <% @current_user.albums.each do |album|%>
        <div class="album"> 
          <%= link_to album.name, "/albums/#{album.id}" %>
        </div>
        <% end  %>
      </div>

      <div class='col-md-4'>
        <h3>Favorited Photos</h3>
        <% if current_user.favorite_photos.any? %>
          <div class="admin-grid">
            <% current_user.favorite_photos.each do |favorite_photo| %>

            <div class="admin-grid-item admin-grid-item-thumbnail">
              <div class="thumbnail"> 
                <img class="img-rounded thumb-image" src="<%= favorite_photo.photo.name.medium %>" />
              </div>
            </div>
            <% end %>   
          </div>
        <% else %>
          <p>You currently have no favorite photos.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
$('.container').imagesLoaded( function() {
  $('.admin-grid').masonry({ 
    itemSelector: '.admin-grid-item',
    columnWidth: 20
  });
});
</script>