<div id='main-content'>
  <div class='container'>
    <%= form_for @photo, url: {action: "create"} do |f| %>
    <%= f.text_field :name %>
    <%= f.file_field :name %>
 

    <%= f.label :category, 'Select categories' %>
    <%= f.select :category_ids, Category.all.collect {|category| [category.name, category.id]}, {}, :multiple => true %>
  
    <%= f.label :album, 'Select album' %>
    <%= f.collection_select :album_id, Album.all, :id, :name %>
  
    
    <%= f.submit "Upload Photo" %>
    <% end %>
  </div>
</div>
