<!DOCTYPE html>
<html>
<head>
  <title>PhotographyWebsiteApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.0.0/imagesloaded.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class='homepage'>
  <div id='wrapper'>
    <header id='header'>
      <div class='container'>
        <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
          <div class='navbar-header'>
            <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>
              
              <%= image_tag("TPPhotoLogoWhite.png", :size => "200x50") %>
            </a>
          </div>
          <div class='collapse navbar-collapse navbar-header-collapse'>
            <ul class='nav navbar-nav navbar-right'>
             <li class='bad_alert'><% if flash[:admin_violation] %>
              Special permissions required!</p>
              <% end  %></li>
              <li class='dropdown'>
                <a class='dropdown-toggle' data-delay='50' data-hover='dropdown'  href='/'>
                  <span>
                    Home
                    <i class=''></i>
                  </span>
                </a> 
              </li>
              <li class='dropdown'>
                <a class='dropdown-toggle' data-delay='50' data-hover='dropdown'  href='#'>
                  <span>
                    Portfolio
                    <i class='fa fa-angle-down'></i>
                  </span>
                </a>

                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href='/weddings'>
                      Weddings
                    </a>
                  </li>
                  <li class='dropdown'>
                    <a href='/family'>
                      Family
                    </a>
                  </li>
                  <!-- <li class='dropdown'>
                  <a href='/portraits'>
                      Portraits
                  </a>
                </li> -->
                <li class='dropdown'>
                  <a href='/events'>
                    Events
                  </a>
                </li>
                <li class='dropdown'>
                  <a href='/scenic'>
                    Scenic
                  </a>
                </li>
              </ul>
              <li class='dropdown'>
                <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' href='http://www.tiffanyhoodprice.com' target='_blank'>
                  <span>
                    Blog
                    <i class=''></i>
                  </span>
                </a>
              </li>
              <li class='dropdown'>
                <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' href='/about'>
                  <span>
                    About
                    <i class=''></i>
                  </span>
                </a>

              </li>
              <li class='dropdown'>
                <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' href='/contact'>
                  <span>
                    Contact
                    <i class=''></i>
                  </span>
                </a>
                <% if !current_user  %>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' href='/users/sign_in'>
                    <span>
                      Login/Sign Up
                      
                    </span>
                  </a>
                </li>
                <% else  %>

                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' href='/users/sign_out'>
                    <span>
                      Sign Out
                      <!-- <i class='fa fa-angle-down'></i> -->
                    </span>
                  </a>
                  <% end %>
                  <% if current_user && current_user.user_type == "admin" %>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' href='/admin'>
                      <span>
                        Admin
                        <!-- <i class='fa fa-angle-down'></i> -->
                      </span>
                    </a>
                    <% end %>

                  </div>
                </nav>
              </div>
            </header>
            <%= yield %>
            <footer id='footer'>
              <div id='footer-main'>
                <div class='container'>
                  <div class='row'>
                    <div class='col-md-3 col-sm-6 info-box'>

                    </div>

                    <div class='col-sm-12 info-box'>
                      <h2 class='title'>Contact</h2>
                      <div class='icon-boxes'>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-map-marker'></i>
                          </div>
                          <div class='content'>
                            Burlingame, California
                          </div>
                        </div>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-phone'></i>
                          </div>
                          <div class='content'>
                            <a href='tel:+012345678'>(650) 762-5180</a>
                          </div>
                        </div>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-envelope'></i>
                          </div>
                          <div class='content'><a href="mailto:info@tiffanyhoodprice.com">info@tiffanyhoodprice.com</a></div>
                        </div>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-globe'></i>
                          </div>
                          <div class='content'><a href="#">www.tiffanyhoodprice.com</a></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div id='footer-copyright'>
                  <div class='container'>
                    <div class='row'>
                      <div class='col-lg-12 clearfix'>
                <!-- <p class='copyright'>
                  
              </p> -->
              <div class='links'>
                <a class='btn btn-circle btn-medium-light btn-sm' href='https://twitter.com/THoodPrice' target='_blank'>
                  <i class='fa fa-twitter text-dark'></i>
                </a>
                <a class='btn btn-circle btn-medium-light btn-sm' href='https://www.instagram.com/thoodprice/' target='_blank'>
                  <i class='fa fa-instagram text-dark'></i>
                </a>
                <a class='btn btn-circle btn-medium-light btn-sm' href='https://www.flickr.com/photos/tiffanyhoodprice/' target='_blank'>
                  <i class='fa fa-flickr text-dark'></i>
                </a>
                <a class='btn btn-circle btn-medium-light btn-sm' href='http://www.tiffanyhoodprice.com' target='_blank'>
                  <i class='fa fa-wordpress text-dark'></i>
                </a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- / required javascripts -->


</body>
</html>


<script type="text/javascript">
$('.container').imagesLoaded( function() {
  $('.grid').masonry({ 
    itemSelector: '.grid-item',
    columnWidth: 350
  });
});
</script>
