<!DOCTYPE html>
<html>
<head>
  <title>PhotographyWebsiteApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='homepage'>
    <div id='wrapper'>
      <header id='header'>
        <div class='container'>
          <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
            <div class='navbar-header'>
              <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
              </button>
              <a class='navbar-brand' href='index.html'>
                <%= image_tag "logo.svg" %>
              </a>
            </div>
            <div class='collapse navbar-collapse navbar-header-collapse'>
              <ul class='nav navbar-nav navbar-right'>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='index.html'>
                    <span>
                      Home
                      <i class=''></i>
                    </span>
                  </a>
                  <!-- <ul class='dropdown-menu' role='menu'> -->
                    <!-- <li class='dropdown'>
                      <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='index.html'>HomCHICKENe</a>
                    </li> -->
                   
                  <!-- </ul> -->
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='weddings.html'>
                    <span>
                      Weddings
                      <!-- <i class='fa fa-angle-down'></i> -->
                    </span>
                  </a>
                  <!-- <ul class='dropdown-menu' role='menu'>
                    <li class=''>
                      <a href='about_us.html'>Carisa & Chad</a>
                    </li>
                    <li class=''>
                      <a href='services.html'>Couple 2</a>
                    </li>
                    <li class=''>
                      <a href='faq.html'>FAQ</a>
                    </li>
                  </ul> -->
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
                    <span>
                      Family
                      <!-- <i class='fa fa-angle-down'></i> -->
                    </span>
                  </a>
                  <!-- <ul class='dropdown-menu' role='menu'>
                    <li class=''>
                      <a href='animations.html'>Animations</a>
                    </li>
                    <li class=''>
                      <a href='elements.html'>Elements</a>
                    </li>
                    <li class=''>
                      <a href='icons.html'>Icons</a>
                    </li>
                    <li class=''>
                      <a href='forms.html'>Forms</a>
                    </li>
                    <li class=''>
                      <a href='tables.html'>Tables</a>
                    </li>
                    <li class=''>
                      <a href='typography.html'>Typography</a>
                    </li>
                    <li class=''>
                      <a href='pricing_tables.html'>Pricing tables</a>
                    </li>
                    <li class='dropdown-submenu'>
                      <a href='index.html'>
                        Submenu
                        <i class='fa fa-angle-right'></i>
                      </a>
                      <ul class='dropdown-menu' role='menu'>
                        <li>
                          <a href='index.html'>Submenu item</a>
                        </li>
                        <li>
                          <a href='index.html'>Submenu item</a>
                        </li>
                        <li>
                          <a href='index.html'>Submenu item</a>
                        </li>
                      </ul>
                    </li>
                  </ul> -->
                <!-- </li> -->
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='http://www.tiffanyhoodprice.com' target='_blank'>
                    <span>
                      Blog
                      <i class=''></i>
                    </span>
                  </a>
                  <!-- <ul class='dropdown-menu' role='menu'>
                    <li class=''>
                      <a href='http://www.tiffanyhoodprice.com' target='_blank'>All Posts</a>
                    </li>
                    <li class=''>
                      <a href='blog_large.html'>Large image</a>
                    </li>
                    <li class=''>
                      <a href='blog_single_post.html'>Single post</a>
                    </li>
                  </ul>
                </li> -->
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
                    <span>
                      About
                      <i class=''></i>
                    </span>
                  </a>
                  <!-- <ul class='dropdown-menu' role='menu'>
                    <li class=''>
                      <a href='portfolio.html'>2 columns</a>
                    </li>
                    <li class=''>
                      <a href='portfolio_three_cols.html'>3 columns</a>
                    </li>
                    <li class=''>
                      <a href='portfolio_four_cols.html'>4 columns</a>
                    </li>
                    <li class=''>
                      <a href='portfolio_detail.html'>Project detail</a>
                    </li>
                  </ul> -->
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
                    <span>
                      Contact
                      <i class=''></i>
                    </span>
                  </a>
                  <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
                    <span>
                      Login
                      <!-- <i class='fa fa-angle-down'></i> -->
                    </span>
                  </a>
                  <!-- <ul class='dropdown-menu' role='menu'>
                    <li class=''>
                      <a href='contact.html'>Contact</a>
                    </li>
                    <li class=''>
                      <a href='contact2.html'>Contact 2</a>
                    </li>
                    <li class=''>
                      <a href='contact3.html'>Contact 3</a>
                    </li>
                  </ul>
                </li>
              </ul> -->
            </div>
          </nav>
        </div>
      </header>
      <%= yield %>
      <footer id='footer'>
        <div id='footer-main'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-3 col-sm-6 info-box'>
               <!--  <div class='logo-container'>
                  <%= image_tag "logo.svg" %>
                </div> -->
                
              </div>

              <div class='col-sm-12 info-box'>
                <h2 class='title'>Contact</h2>
                <div class='icon-boxes'>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-map-marker'></i>
                    </div>
                    <div class='content'>
                      Burlingame, California
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-phone'></i>
                    </div>
                    <div class='content'>
                      <a href='tel:+012345678'>(650) 762-5180</a>
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-envelope'></i>
                    </div>
                    <div class='content'><a href="mailto:info@tiffanyhoodprice.com">info@tiffanyhoodprice.com</a></div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-globe'></i>
                    </div>
                    <div class='content'><a href="#">www.tiffanyhoodprice.com</a></div>
                  </div>
                </div>
              </div>
             <!--  <div class='col-md-3 col-sm-6 info-box social-box'>
                <h2 class='title'>Latest tweets</h2>
                <div class='icon-boxes'>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-twitter text-contrast'></i>
                    </div>
                    <div class='content'>
                      <p>
                        Phasellus vulputate lobortis sem. Mauris id velit in urna.
                        <br>
                        <a class='time' href='#'>
                          <i>1 hour ago</i>
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-twitter text-contrast'></i>
                    </div>
                    <div class='content'>
                      <p>
                        Etiam luctus, dui congue tempus blandit, dui.
                        <br>
                        <a class='time' href='#'>
                          <i>3 hours ago</i>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
             
            </div> -->
          </div>
        </div>
        <div id='footer-copyright'>
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12 clearfix'>
                <!-- <p class='copyright'>
                  
                </p> -->
                <div class='links'>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='https://twitter.com/THoodPrice' target='_blank'>
                    <i class='fa fa-twitter text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='https://www.instagram.com/thoodprice/' target='_blank'>
                    <i class='fa fa-instagram text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='https://www.flickr.com/photos/tiffanyhoodprice/' target='_blank'>
                    <i class='fa fa-flickr text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='http://www.tiffanyhoodprice.com' target='_blank'>
                    <i class='fa fa-wordpress text-dark'></i>
                  </a>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- / required javascripts -->
    
    
  </body>
</html>
